@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* SCROLLBAR */
::-webkit-scrollbar {
	margin: 20px;
	padding: 10px;
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}
.scrollable::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.3);
}
